<div class="row">
    <h2 align="center">Educación</h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaEdu" *ngIf="isLogged">
            Agregar educación
        </button>
    </div>

    <br>
    <br>
    <br>
    
    <div>
        <table class="table table-responsive">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <img *ngIf="Educacion.url; else sinImagen" src='{{Educacion.url}}' class="imgEdu" alt="Imagen educación" onerror=" this.onerror=null;this.src='../../../assets/logos/error.png'">    
                    </td>
                    <ng-template #sinImagen>
                        <img src="../../../assets/logos/error.png" alt="Imagen educación" class="imgEdu">
                    </ng-template>
                    <td>
                        <h4 style="color:antiquewhite">{{Educacion.nombreE}}</h4>
                    </td>
                    <td>
                        <h5>{{Educacion.descripcionE}}</h5>
                    </td>
                    <!--<td>{{Educacion.id}}</td>
                        <td><input type="text" value={{Educacion.path}} #pathInput></td>
                    -->
                    <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/editarEdu/{{Educacion.id}}">

                            <i class="bi bi-pencil"></i>Editar</button></td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)" >
                            Borrar
                            <i class="bi bi-backspace-fill"></i></button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
