<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 parte1">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odio exercitationem provident, rerum sapiente possimus autem necessitatibus harum fuga nostrum! Ut soluta doloribus laudantium unde enim reprehenderit, aspernatur eligendi commodi.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 offset-lg-1 offset-xl-1 parte2">
            <img src="../../../assets/logos/proyecto1.jfif" class="img-fluid" id="img">
        </div>
    </div>
    
</div>

