<div class="row">
    <div class="box" id="divIngreso">
        <!--<div class="row col-12 col-lg-10 col-xl-10"></div>-->
        <button type="button" class="btn btn-outline-light" id="btnIngreso" (click)="login()" *ngIf="!isLogged">INGRESO</button>
        <button type="button" class="btn btn-outline-light" id="btnIngreso" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="box col-12 col-lg-11 col-xl-11" id="divLogoArg">
            <img src="../../../assets/logos/argentinaprograma.png" id="logoArg" class="img-fluid">    
        </div>
    
        <div class="box col-12 col-lg-1  col-xl-1" id="divRedes">
            <a href="http://www.facebook.com"><img src="../../../assets/logos/facebook.png" id="logoSocial"></a>
            <a href="http://www.instagram.com"><img src="../../../assets/logos/instagram.png" id="logoSocial"></a>
            <a href="http://www.linkedin.com"><img src="../../../assets/logos/linkedin.png" id="logoSocial"></a>
            <a href="http://www.github.com"><img src="../../../assets/logos/github.png" id="logoSocial"></a>
            <a href="http://www.twitter.com"><img src="../../../assets/logos/twitter.png" id="logoSocial"></a>
            
        </div>
    </div>
</div>


