<div class="row">
    <div class="row col-xs-12 col-sm-4 col-md-4 col-lg-4" id="cajaFoto">
        <img src="../../../assets/logos/memitaCoto1.jpeg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="row col-xs-12 col-sm-3 col-md-3 col-lg-3" id="cajaNombre">
        <span>
            <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
            <p>Full Stack Developer Junior</p>
        </span>        
    </div>
    <div class="row col-xs-12 col-sm-5 col-md-5 col-lg-5" id="cajaDescripcion">
        <span>
            <h2 id="descripcion">Acerca de mí</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, placeat repellendus sed velit accusantium fugit commodi voluptas animi totam, nostrum, nesciunt eum aut asperiores est officia. Repudiandae, quia? Deleniti, itaque!</p>
        </span>       
    </div>
</div>