div{    
    text-align: center;
}

#nombre{
    font-weight: bold ;
    font-size:2em;
}

#acerca{
    font-weight: bold ;
    font-size:2em;
    
}

#descripcion{
    text-indent: 2em;
}
#cajaFoto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



#cajaNombre{
    margin-top: 10%;
    display:flex;
    flex-direction: column;
    align-items: start;
    padding: 2em;
    align-items: center;
}

#cajaDescripcion{
    /*margin-top: 2em;*/
    
    display: flex;   
    padding: 2em;
    padding-left: 3.5em;
}
p{
    padding: 0.5rem;
    box-shadow: 0px 0px 11px 2px #005690;
    border-radius: 6px;
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: steelblue;
}

@media only screen and (max-width: 575px){
    #nombre{
        margin-top: 15%;
        font-weight: bold ;
        font-size:1.5em;
        
    }    
    
    
    #acerca{
        font-weight: bold ;
        font-size:1.5em;
        
    }
    #cajaNombre{
        margin-top: 0%;
        display:flex;
        align-items:center;
        
    }
}
